<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

  <div id="container">

    <header>
      <div id="Y">Y</div>
      <h1>Slacker News</h1>
        <ul>
          <li><a href="#">new</a></li>
          <li><a href="#">comments</a></li>
          <li><a href="#">ask</a></li>
          <li><a href="#">jobs</a></li>
          <li><a href="#">submit</a></li>
        </ul>
      <div id="login">login</div>
    </header>

    <div class="articles">
      <ul>
        <li>
          <div class="arrow"></div>
          <a href="https://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">Firebase Leaves Beta Today</a>
          <span class="domain">(firebase.com)</span>
          <div class="stats">63 points by lyime 56 minutes ago | 17 comments</div>
        </li>
      </ul>
      <form>
        <textarea rows="6" cols="60"></textarea><br/>
        <button type="button">add comment</button>
      </form>
      <ul id="comments">
      <% @comments.each do |comment| %>

        <li>
          <div class="arrow"></div>
          <span class="comment-info">
            <a href="#"><%= comment["username"] %></a> <%= comment["created_at"] %> <a href="#">link</a>
          </span>
          <p><%= comment["contents"] %></p>
        </li>

      <% end %>
      </ul>
    </div>

    <footer>
      <ul>
        <li><a href="#">Lists</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">Bookmarklet</a></li>
        <li><a href="#">Guidelines</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">DMCA</a></li>
        <li><a href="#">News News</a></li>
        <li><a href="#">Feature Requests</a></li>
        <li><a href="#">Bugs</a></li>
        <li><a href="#">Y Combinator</a></li>
        <li><a href="#">Apply</a></li>
        <li><a href="#">Library</a></li>
      </ul>
      <form>
        <label for="search">Search:</label>
        <input type="text" id ="search">
      </form>
    </footer>

  </div>

  </body>

</html>
